<div class="header">
<%=form_tag action:'login', controller: 'session' do %>
<ul>
  <li>
    <%= link_to 'PetProject', root_path, class:'logo'%>
  </li>
  <li>
    <%= link_to 'Adoption', adoption_path(1)%>
  </li>
  <li>
    <%= link_to 'Missing', missing_path(1)%>
  </li>
  <li>
    <%= link_to 'Found', found_path(1)%>
  </li>
  <li>
    <%= link_to 'Memes', meme_list_path(1)%>
  </li>
  
  <div style="width:auto;float:right;">
  <% if loged? %>
  
    <li>
      <%= link_to 'Logout', logout_path, style:"vertical-align:middle"%>
    </li>

    <li class="profile-picture">
      <%= link_to (image_tag current_user.avatar.url(:thumb)), user_edit_path, style:"vertical-align:middle"%>
    </li>
    
  <% else %>
    <li>
    <%= link_to 'Sign up', new_user_path %>
    </li>
    <li>
      Email: <%= email_field_tag :email, '' ,class: "form_field" %>
    </li>
    
    <li>
      Password: <%= password_field_tag :password, '' ,class: "form_field"  %>
    </li>
    
    <li>
      <%=submit_tag :Login, class: "form_button"  %>
    </li>
    <% end %>
    </div>
</ul>
<% end %>
</div>