<div style='background-color:red;color:white'>
  <% if @user.errors.any? %>
   <% @user.errors.full_messages.each do |message|%>
    <p><%= message %></p>
   <%end%>
  <%end%>
</div>
<%= form_for @user,url: users_path, html:{multipart:true} do |f| %>
<ul style="list-style-type:none; color:#2A2C2B">
  <li style="padding:5px">
  Name: <%=f.text_field :name, class: "form_field" %>
  </li>
  <li style="padding:5px">
  Email: <%=f.text_field :email, class: "form_field"  %>
  </li>
  <li style="padding:5px">
  Password: <%=f.password_field :password, class: "form_field"  %>
  </li>
  <li style="padding:5px">
  Password confirmation: <%=f.password_field :password_confirmation, class: "form_field"  %>
  </li>
  <li style="padding:5px">
  Avatar: <%=f.file_field :avatar, class: "form_field"  %>
  </li>
  <li style="padding:5px">
  <%=f.submit :send, class: "form_button" %>
  </li>
</ul>
<%end%>