<%if @post %>
<div>
  <div>
    <div style='width:1000px;heigth:400px;'>
      <%= image_tag @post.cover.url(:cover) %>
    </div>
    <h2><%= @post.title %></h2>
    <%= @post.body %>>
  </div>
  <%= @post.category %>
</div>
<div>
  <% @comments.each do |comment| %>
    <%=User.find(comment.user_id).name%>
    <%=comment.body%>
  <% end %>
</div>

<div>
  <% if loged? %>
    <%= form_for [@post,@comment] do |f| %>
      Body:<%=f.text_area :body %>
      <%= f.submit :send %>
    <%end%>
  <%else%>
    <p>You need to log in before comment</p>
  <%end%>
</div>


<% else %>
  <h2>The post that you are looking for doesn't exist!</h2>
<% end %>